<!doctype html>
<html lang="vi" xmlns="http://www.w3.org/1999/xhtml"  xml:lang="vi">


    <head>
        <meta charset="utf-8" />
        <title>Page-name</title>
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0, user-scalable=yes" />
        <meta name="theme-color" content="#0099ff" />

        <meta http-equiv="Content-Language" content="VN" />
        <meta name="description" content="Page-name" />
        <meta name="keywords" content="" />
        <meta property="og:url" name="og:url" content="" data-app/>
        <meta property="og:type" name="og:type" content="website" data-app/>
        <meta property="og:description" name="og:description" content="Page-name" data-app/>
        <meta property="og:title" name="og:title" content="Page-name" data-app/>

        <meta property="og:image" name="og:image" content="/uploaded/logo/logo.png" data-app>
        <meta property="og:image:alt" name="og:image:alt" content="/uploaded/logo/logo.png" data-app>
        <link href="/favicon.ico" rel="shortcut icon" />        

     
        <link rel="stylesheet" type="text/css" href="/css/style.css" />

        <link rel="stylesheet" type="text/css" href="/css/grid.css" />
        <link rel="stylesheet" type="text/css" href="/css/responsive.css" />
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.2.2/css/swiper.min.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
       
        <link rel="stylesheet" type="text/css" href="/css/font.css" />
        <link rel="stylesheet" type="text/css" href="/css/fontawesome-5.12.1/css/all.min.css" />
        <link rel="stylesheet" type="text/css" href="/css/jquery.mmenu.all.css" />
        <link rel="stylesheet" href="/css/jquery-ui.css" />

        <link rel="stylesheet" href="/css/jquery.fancybox.css" />
        <link rel="stylesheet" href="/css/hover.css" />
        <script src="/js/jquery-1.10.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.2.2/js/swiper.min.js"></script>

        

        

    </head>    


<body>



<div id="page">


    <!-- header pc -->
    <header class="header hide-on-pad hide-on-tab">
      <div class="grid">
        
        <div class="flex-container align-center">
            <div class="cell-1-5">
              <div class="logo">
                <a href="/">
                  <img src="/uploaded/logo/logo.png" alt="LogoSite"
                    style="max-width:100%; margin:0 auto"></a>
                </div>
            </div>
           <div class="cell-4-5">
            <div class="menubar">
              <ul class="nav  hide-on-mobile">
                  <li class=" active ">
                    <a href="/" class=""><span style="background-image:url()"> Trang chủ       
                  </li>
                  <li class=" ">
                    <a href="/" class="">
                          <span style="background-image:url()"> Giới thiệu</span>
                            </a>
                      <ul class="submnu1" style="display: none;">
                        <li class="">
                          <a href="/phat-trien-dien-nang/">Về chúng tôi</a>
                        </li>
                        <li class="">
                          <a href="/dau-tu-bat-dong-san/">Lịch sử hình thành</a>
                        </li>
                    </ul>
                  </li>
                  <li class=" ">
                    <a href="/" class=""><span style="background-image:url()"> Dịch vụ    
                  </li>
                  <li class=" ">
                    <a href="/" class=""><span style="background-image:url()"> Sản phẩm 
                  </li>
                  <li class=" ">
                    <a href="/" class=""><span style="background-image:url()"> Tin tức nổi bật
                  </li>
                  <li class=" ">
                    <a href="/" class=""><span style="background-image:url()"> Liên hệ
                  </li> 
              </ul>
              <div class="btn btndangnhap">
                  <a href="#dangnhap">Đăng nhập</a>
              </div>
           </div>
          </div>
        </div>
      <div class="c"></div>
    </header>
    <!-- end header pc -->
    <header class="header hide-on-pc error">
      <div class="mobile-bar hide-on-pc">
        <div class="grid">
            <div class="flex-container align-center">
                <div class="cell-1-3">
                   
                    <a class="menu-mobile" href="#menu">
                      <i class="fas fa-bars"></i>
                   </a>
                   
                </div>
                <div class="cell-1-3">
                 
                  <div class="logo">
                      <a href="/">
                        <img src="/uploaded/logo/Logo_full 1.png" alt="Logo web" style="max-width: 100%; margin: 0 auto" />
                      </a>
                  </div>
                 
              </div>
            
                <div class="icon-search search-mb" >
                  <i class="fa fa-search search-iconmb" aria-hidden="true"></i>
                    <div class="frm-search-mb" style="">
                     <form action="/search/" method="get" id="searchformtab">
                        <input name="qr" class="kw-mobile" placeholder="Tìm kiếm " type="text">
                        <a href="#" class="submit-search-pc" onClick="$('#searchformtab').submit(); return false;"> 
                          <i class="fa fa-search" aria-hidden="true"></i> </a>
  
                        <a href="#" class="closeX" onClick="$('.frm-search-mb').hide(); return false;">&#10005;</a>        
                      </form>
                    </div> 
                    
                    <script>
                      $(document).ready(function () {
                      $(".search-iconmb").click(function () {
                        $(".frm-search-mb").stop().slideToggle("fast");
                        return false;
                      });
                      });
                    </script>  	
                   </div>
               
            </div>
            </div>
        </div>
        <div class="c"></div>
      
    </header>
    <!-- content -->
    <div class="content">
      
      <!-- slideshow -->
      <div class="swiper-container" id="slide_home">
    
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="slidehome">
              <img class="hide-on-mobile" src="/uploaded/slideshow/item1.png" alt="" style="width: 100%" />
              <!-- <div class="slidehome-content">
                <div class="grid">
                    <div class="flex-container">
                      <div class="cell-1-2 tab-cell-1-1">
                        <h2>Lorem ipsum placeholder
                          text commonly used</h2>
                          <div class="c10"></div>
                          <div class="text-line-2">
                            Lorem ipsum is placeholder text commonly used
                            in the graphic, print, and publishing industries
                          </div>
                            <div class="c30"></div>
                              <a href="#" class="btn btn-xemthem">Xem chi tiết</a>
                          
                      </div>
                    </div>
                </div>
            </div> -->
            </div>
        </div>
        <div class="swiper-slide">
          <div class="slidehome">
            <img class="hide-on-mobile" src="/uploaded/slideshow/item1.png" alt="" style="width: 100%" />
          </div>
        </div>
      
      </div>

      </div>
      <script>
        $(function () {
          var swiper_slide_home = new Swiper("#slide_home", {
            loop: true,
            slidesPerView: 1,
            autoHeight:true,
            autoplay: {
              simulateTouch: true,
              delay: 5000000,
              disableOnInteraction: false,
            },
            spaceBetween: 0,
            // navigation: {
            //   nextEl: ".swiper-button-next",
            //   prevEl: ".swiper-button-prev",
            // },
            pagination: {
              el: ".swiper-pagination",
              clickable: true,
            },
            speed: 500,
            spaceBetween: 0,
          });

          $("#slide_home").on("mouseover", function () {
            swiper_slide_home.autoplay.stop();
          });
          $("#slide_home").on("mouseout", function () {
            swiper_slide_home.autoplay.start();
          });
        });
      </script>
      <!-- end slideshow -->  
      <div class="homeservice-wrapper">
        <div class="c30"></div>
        <div class="c20 hide-on-mobile"></div>
          <div class="grid">
              <div class="homecat-title text-center">
                  Dịch vụ <span> Của chúng tôi</span>
              </div>
              <div class="c30"></div>
                <div class="homeservice">
                  <div class="flex-container">
                    <div class="cell-1-3 tab-cell-1-1 homeservice-item">
                      
                        <div class="homeservice-ico">
                          <i class="far fa-user-md-chat"></i>
                        </div>
                        <div class="c20"></div>
                        <h3 class="homeservice-name" ><a href="#">Tư vấn kết nối du lịch và khám chữa bệnh tại các cơ cở y tế tại Nhật Bản</a></h3>
                        <div class="c30"></div>
                        <div class="homeservice-intro">
                          Sở hữu mạng lưới đối tác là các phòng khám, bệnh viện tại Nhật Bản, chúng tôi tư vấn khách hàng các gói khám chữa bệnh theo yêu cầu.
                        </div>
                      </div>
                      <div class="cell-1-3 tab-cell-1-1 homeservice-item">
                      
                        <div class="homeservice-ico">
                          <i class="far fa-user-md-chat"></i>
                        </div>
                        <div class="c20"></div>
                        <h3 class="homeservice-name" ><a href="#">Tư vấn kết nối du lịch và khám chữa bệnh tại các cơ cở y tế tại Nhật Bản</a></h3>
                        <div class="c30"></div>
                        <div class="homeservice-intro">
                          Sở hữu mạng lưới đối tác là các phòng khám, bệnh viện tại Nhật Bản, chúng tôi tư vấn khách hàng các gói khám chữa bệnh theo yêu cầu.
                        </div>
                      </div>
                      <div class="cell-1-3 tab-cell-1-1 homeservice-item">
                      
                        <div class="homeservice-ico">
                          <i class="far fa-user-md-chat"></i>
                        </div>
                        <div class="c20"></div>
                        <h3 class="homeservice-name" ><a href="#">Tư vấn kết nối du lịch và khám chữa bệnh tại các cơ cở y tế tại Nhật Bản</a></h3>
                        <div class="c30"></div>
                        <div class="homeservice-intro">
                          Sở hữu mạng lưới đối tác là các phòng khám, bệnh viện tại Nhật Bản, chúng tôi tư vấn khách hàng các gói khám chữa bệnh theo yêu cầu.
                        </div>
                      </div>

                  </div>
                </div>
          </div>
      </div>
      <div class="inhome-wrapper">
          <div class="c30"></div>
          <div class="c20 hide-on-mobile"></div>
          <div class="grid">
              <a class="homecat-title-sm">
                  Dịch vụ
              </a>
              <div class="inhome-item">
                <div class="flex-container">
                    <div class="cell-1-2 tab-cell-1-1 inhome-desc">
                        <div class="homecat-title">
                            Liệu pháp <span> Tế bào gốc </span>
                        </div>
                        <div class="c20"></div>
                        Liệu pháp tế bào gốc là liệu pháp y học tái tạo, sử dụng tế bào gốc để sửa chữa thay thế các tế bào, các mô bị tổn thương hoặc bị bệnh trong cơ thể. Hiệu quả trong tăng cường sức khỏe, trẻ hóa cơ thể và điều trị một số bệnh mãn tính.
                        <ul>
                          <li>
                          <h5>
                            <i class="fas fa-check"></i> Trẻ hóa và cải thiện sức khỏe
                          </h5>
                          <div class="">
                             Bổ sung tế bào gốc cho da mặt giúp sản sinh thêm Collagen, Elastine, HA và phục hồi các vùng bị tổn thương, giúp làn da săn chắc mịn màng và xóa mờ các nếp nhăn.
                          </div>
                          </li>
                          <li>
                          <h5>
                            <i class="fas fa-check"></i>   Hỗ trợ điều trị bệnh mãn tính
                          </h5>
                          <div class="">
                          Liệu pháp tế bào gốc cho thấy nhiều tiềm năng trong điều trị nhiều bệnh mãn tính như: <span>Tiểu đường tuýp 1, Tiểu đường tuýp 2, Viêm khớp gối, Hói (mất tóc), Suy giảm trí nhớ, Parkinson, Rối loạn cương dương,</span> các bệnh nội tiết, viêm nhiễm... và hỗ trợ trong việc điều trị bệnh ung thư.
                          </div>
                          </li>
                          </ul>
                      </div>
                      <div class="cell-1-2 tab-cell-1-2 inhome-img">
                         <a href="#"> <img src="/uploaded/dichvu/item2.jpg" alt=""></a>
                      </div>
                </div>
              </div>
              <div class="inhome-item">
                <div class="flex-container">
                    <div class="cell-1-2 tab-cell-1-1 inhome-desc">
                        <div class="homecat-title">
                            Liệu pháp <span> Tế bào miễn dịch </span>
                        </div>
                        <div class="c20"></div>
                        Liệu pháp tế bào gốc là liệu pháp y học tái tạo, sử dụng tế bào gốc để sửa chữa thay thế các tế bào, các mô bị tổn thương hoặc bị bệnh trong cơ thể. Hiệu quả trong tăng cường sức khỏe, trẻ hóa cơ thể và điều trị một số bệnh mãn tính.
                        <ul>
                          <li>
                          <h5>
                            <i class="fas fa-check"></i> Trẻ hóa và cải thiện sức khỏe
                          </h5>
                          <div class="">
                             Bổ sung tế bào gốc cho da mặt giúp sản sinh thêm Collagen, Elastine, HA và phục hồi các vùng bị tổn thương, giúp làn da săn chắc mịn màng và xóa mờ các nếp nhăn.
                          </div>
                          </li>
                          <li>
                          <h5>
                            <i class="fas fa-check"></i>   Hỗ trợ điều trị bệnh mãn tính
                          </h5>
                          <div class="">
                          Liệu pháp tế bào gốc cho thấy nhiều tiềm năng trong điều trị nhiều bệnh mãn tính như: <span>Tiểu đường tuýp 1, Tiểu đường tuýp 2, Viêm khớp gối, Hói (mất tóc), Suy giảm trí nhớ, Parkinson, Rối loạn cương dương,</span> các bệnh nội tiết, viêm nhiễm... và hỗ trợ trong việc điều trị bệnh ung thư.
                          </div>
                          </li>
                          </ul>
                      </div>
                      <div class="cell-1-2 tab-cell-1-2 inhome-img">
                          <a href="#"><img src="/uploaded/dichvu/item1.jpg" alt=""></a>
                      </div>
                </div>
              </div>
          </div>
          
      </div>
      <div class="poster-wrapper">
        <div class="grid">
            <div class="poster-item">
                <img src="/uploaded/gioi-thieu/poster.jpg" alt="">
                <div class="poster-content">
                    <div class="poster-name">
                    JKAAC SẴN SÀNG TƯ VẤN HỖ TRỢ THÔNG TIN 24/7
                    </div>
                    <div class="c20"></div>
                    <div class="btn-lienhe text-center">
                        <a href="#"> Liên hệ ngay</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="homeinfo-wrapper">
      <div class="c30"></div>
      <div class="c20 hide-on-mobile"></div>
        <div class="grid">
          <div class="flex-container">
            <div class="cell-1-2 tab-cell-1-1">
              <div class="homecat-title">
                Giới thiệu <span> Về JKAAC</span>
              </div>
              <div class="c30"></div>
            <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur fugiat ullam adipisci culpa. Nostrum omnis voluptatum sit, eius sapiente, velit error excepturi suscipit, quam repudiandae numquam quis aspernatur in labore?  
            </p>
            <br> 
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur modi porro officia, esse vel veniam reprehenderit deleniti? Accusantium animi nulla consequuntur sunt quia, id architecto? Modi nihil tempora inventore eos!
            
              <div class="c30"></div>
              <div class="btn-seemore">
                  <a href="#"> Tìm hiểu thêm</a>
              </div>
            </div>
            <div class="cell-1-2 tab-cell-1-1">
                <img src="/uploaded/gioi-thieu/item1.jpg" alt="">
            </div>
          </div>

        
        </div>
        
        <div class="c30"></div>
        <div class="c20 hide-on-mobile"></div>
    </div>        
      <div class="homeinfodv-wrapper">
        <div class="c30"></div>
        <div class="c20 hide-on-mobile"></div>
          <div class="grid">
              <div class="flex-container align-center">
                  <div class="cell-1-2 tab-cell-1-1">
                    <div class="swiper-container slider-homeinfodv">
                      <div class="swiper-wrapper">
                        <div class="swiper-slide">
                          <div class="homeinfodv-item">
                              <img style="width: 100%; height: 400px; object-fit: cover;" src="/uploaded/gioi-thieu/item3.jpg" alt="">
                          </div>
                        </div>
                        <div class="swiper-slide">
                          <div class="homeinfodv-item">
                              <img style="width: 100%; height: 400px; object-fit: cover;" src="/uploaded/gioi-thieu/item4.jpg" alt="">
                          </div>
                        </div>

                        <div class="swiper-slide">
                          <div class="homeinfodv-item">
                              <img style="width: 100%; height: 400px; object-fit: cover;" src="/uploaded/gioi-thieu/item2.jpg" alt="">
                          </div>
                        </div>
                      </div>
                    </div>
                    <script>
                      $(function () {
                        var slideproduct = new Swiper(".slider-homeinfodv", {
                    
                        loop: true,
                        
                      
                        spaceBetween: 20,
                        autoplay:true,
                        pagination: {
                          
                          clickable: true,
                        },
                        navigation: {
                                nextEl: '.homenews-button-next',
                                prevEl: '.homenews-button-prev'
                            },
                          })
              
                      });
                    </script>
                  </div>
                  <div class="cell-1-2 tab-cell-1-1">
                      <a href="#" class="homecat-title-sm">
                          Cơ sở vật chất
                      </a>
                      <div class="c30"></div>
                      <div class="homecat-title">
                        Mạng lưới hơn 300 đối tác  <br> <span>với trang thiết bị hiện đại tiên tiến </span>
                      </div>
                      <div class="c20"></div>
                   JKAAC liên kết hơn 300 bệnh viện, phòng khám chuyên khoa hàng đầu, có khả năng kết nối khách hàng đến đơn vị điều trị có chuyên môn cao nhất, trang thiết bị hiện đại với chi phí hợp lý.
                  </div>
              </div>
          </div>
          <div class="c30"></div>
          <div class="c20 hide-on-mobile"></div>
      </div>
      <div class="homeactivities-wrapper">
        <div class="c30"></div>
        <div class="c20 hide-on-mobile"></div>
        <div class="grid">
          <a href="#" class="homecat-title-sm">
            Cơ sở vật chất
          </a>
          <div class="c10"></div>
          <div class="homecat-title">
              Hoạt động <span> tiêu biểu </span> 
          </div>
          <div class="c30"></div>
            <div class="flex-container">
                <div class="cell-1-3 tab-cell-1-1 homeactivites-item">
                      <div class="homeactivites-name">
                       <a href="#">  Hội thảo “Thành tựu công nghệ nuôi cấy Tế bào gốc và ứng dụng Tế bào gốc kết hợp Exosome đối với trẻ hóa và điều trị bệnh”</a>
                      </div>
                      <div class="c30"></div>
                      <div class="homecativites-intro">
                        Hội thảo “Những thành tựu tiên tiến nhất về Công nghệ nuôi cấy Tế bào gốc và ứng dụng Tế bào gốc kết hợp Exosome đối với trẻ hóa và điều trị bệnh”
                      </div>
                      <div class="c30"></div>
                      <div class="btn-seemore">
                          <a href="#"> Tìm hiểu thêm</a>
                      </div>
                </div>
                  <div class="cell-1-3 tab-cell-1-1 homeactivites-item">
                        <div class="homeactivites-name">
                        <a href="#">  Hội thảo “Thành tựu công nghệ nuôi cấy Tế bào gốc và ứng dụng Tế bào gốc"</a>
                        </div>
                        <div class="c30"></div>
                        <div class="homecativites-intro">
                          Hội thảo “Những thành tựu tiên tiến nhất về Công nghệ nuôi cấy Tế bào gốc và ứng dụng Tế bào gốc kết hợp Exosome đối với trẻ hóa và điều trị bệnh”
                        </div>
                        <div class="c30"></div>
                        <div class="btn-seemore">
                            <a href="#"> Tìm hiểu thêm</a>
                        </div>
                  </div>
                  <div class="cell-1-3 tab-cell-1-1 homeactivites-item">
                    <div class="homeactivites-name">
                    <a href="#">  Hội thảo “Thành tựu công nghệ nuôi cấy Tế bào gốc và ứng dụng Tế bào gốc kết hợp Exosome đối với trẻ hóa và điều trị bệnh”</a>
                    </div>
                    <div class="c30"></div>
                    <div class="homecativites-intro">
                      Hội thảo “Những thành tựu tiên tiến nhất về Công nghệ nuôi cấy Tế bào gốc và ứng dụng Tế bào gốc kết hợp Exosome đối với trẻ hóa và điều trị bệnh”
                    </div>
                    <div class="c30"></div>
                    <div class="btn-seemore">
                        <a href="#"> Tìm hiểu thêm</a>
                    </div>
              </div>
            </div>
        </div>
      </div>
      <div class="homevideo-wrapper">
        <div class="c30"></div>
          <div class="c20 hide-on-mobile"></div>
          <div class="grid">
              <div class="flex-container align-center">
                  <div class="cell-1-2 tab-cell-1-1">

                      <div class="homecat-title">
                          Xem video <span> Youtube</span>
                      </div>
                      <div class="c30"></div>
                      Lorem ipsum dolor sit, amet consectetur adipisicing elit. At impedit facilis accusamus unde magnam in delectus iste tempora. Molestiae saepe, perspiciatis temporibus ipsam sunt aliquam excepturi qui natus facere corporis.
                      <div class="c30"></div>
                      <div class="btn-seemore">
                          <a href="#"> Xem thêm</a>
                      </div>
                      <div class="c30"></div>
                  </div>
                  <div class="cell-1-2 tab-cell-1-1">
                    <div class="homevideo-item">
                      <iframe width="100%" height="400" src="https://www.youtube.com/embed/s9l2RVIRNPk?si=EUbCMCclQEoNVNt3" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </div>
                  </div>
              </div>
          </div>
          <div class="c30"></div>
          <div class="c20 hide-on-mobile"></div>
      </div>
    <div class="homenews-wrapper">
    
      <div class="c20 hide-on-mobile"></div>
      <div class="c30"></div>
        <div class="grid">
            <a href="#" class="homecat-title-sm"> Blog </a>
            <div class="c10"></div>
            <div class="homecat-title">
                Tin tức <span>y tế</span>
            </div>
            <div class="c30"></div>
            <div class="grid-homenews">
                <div class="homenews-item">
                    <div class="homenews-img">
                        <a href="#" class="img-shine">
                          <img src="/uploaded/tin-tuc/item1.png" alt="">
                        </a>
                    </div>
                    <div class="homenews-desc">
                      <div class="homenews-name ">
                        <a href="#" class="text-line-3">Khám phá liệu pháp Exosome và tiềm năng trong làm đẹp và điều trị bệnh</a>
                      </div>
                      <div class="homenews-intro text-line-3">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus earum omnis quaerat quas hic esse optio! Perspiciatis ex nobis corporis eum iure consequatur harum blanditiis itaque similique, error, velit atque.
                      </div>
                      <div class="btn-more">
                          <a href="#"> Xem thêm</a>
                      </div>
                    </div>
                </div>
                
                <div class="homenews-item">
                    <div class="homenews-img">
                        <a href="#" class="img-shine">
                          <img src="/uploaded/tin-tuc/item1.png" alt="">
                        </a>
                    </div>
                    <div class="homenews-desc">
                      <div class="homenews-name ">
                        <a href="#" class="text-line-3">Khám phá liệu pháp Exosome và tiềm năng trong làm đẹp và điều trị bệnh</a>
                      </div>
                      <div class="homenews-intro text-line-3">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus earum omnis quaerat quas hic esse optio! Perspiciatis ex nobis corporis eum iure consequatur harum blanditiis itaque similique, error, velit atque.
                      </div>
                      <div class="btn-more">
                          <a href="#"> Xem thêm</a>
                      </div>
                    </div>
                </div>
                
                <div class="homenews-item">
                    <div class="homenews-img">
                        <a href="#" class="img-shine">
                          <img src="/uploaded/tin-tuc/item1.png" alt="">
                        </a>
                    </div>
                    <div class="homenews-desc">
                      <div class="homenews-name">
                        <a href="#" class="text-line-3">Khám phá liệu pháp Exosome và tiềm năng trong làm đẹp và điều trị bệnh</a>
                      </div>
                      <div class="homenews-intro text-line-3">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus earum omnis quaerat quas hic esse optio! Perspiciatis ex nobis corporis eum iure consequatur harum blanditiis itaque similique, error, velit atque.
                      </div>
                      <div class="btn-more">
                          <a href="#"> Xem thêm</a>
                      </div>
                    </div>
                </div>
                
                <div class="homenews-item">
                    <div class="homenews-img">
                        <a href="#" class="img-shine">
                          <img src="/uploaded/tin-tuc/item1.png" alt="">
                        </a>
                    </div>
                    <div class="homenews-desc">
                      <div class="homenews-name ">
                        <a href="#" class="text-line-3">Khám phá liệu pháp Exosome và tiềm năng trong làm đẹp và điều trị bệnh</a>
                      </div>
                      <div class="homenews-intro text-line-3">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus earum omnis quaerat quas hic esse optio! Perspiciatis ex nobis corporis eum iure consequatur harum blanditiis itaque similique, error, velit atque.
                      </div>
                      <div class="btn-more">
                          <a href="#"> Xem thêm</a>
                      </div>
                    </div>
                </div>
            </div>
        </div>

      <div class="c20 hide-on-mobile"></div>
      <div class="c30"></div>
      
    </div>
     
          
    <!-- end content -->

    </div>
    <!-- footer -->
    <footer class="footer">
      <div class="topfooter">
        <div class="c30"></div>
        <div class="c20 hide-on-mobile"></div>
        <div class="grid">
            <a href="#" class="homecat-title-sm">
               Đối tác của chúng tôi
            </a>
          <div class="c30"></div>
            <div class="flex-container">
              <div class="swiper-container swiper-partner">
                <div class="swiper-wrapper">
               
                    <div class="swiper-slide homepartner-item">
                        <div class="">
                            
                                <a href="" target=""><img src="/uploaded/doitac/item1.png" width="100%"  alt="Đối tác 1"></a>
                           
                        </div>
                    </div>
                    <div class="swiper-slide homepartner-item">
                      <div class="">
                          
                              <a href="" target=""><img src="/uploaded/doitac/item2.png" width="100%"  alt="Đối tác 1"></a>
                         
                      </div>
                  </div>
                  <div class="swiper-slide homepartner-item">
                    <div class="">
                        
                            <a href="" target=""><img src="/uploaded/doitac/item3.png" width="100%"  alt="Đối tác 1"></a>
                       
                    </div>
                </div>
                  </div>
              </div>
            </div>
        </div>
        <script>
          var swiper_partner = new Swiper('.swiper-partner', {
              loop: true,
              slidesPerView: 8,
              autoplay: {
                  delay: 2200,
                  disableOnInteraction: false,
              },
              spaceBetween: 20,
              navigation: {
                  nextEl: '.partner-next',
                  prevEl: '.partner-prev',
              },
             
              speed: 400,
            
              breakpoints: {
                  768: {
                      slidesPerView: 4,
                      spaceBetween: 10
                  }
              }
          });
          $('.swiper-partner').on('mouseover', function () {
              swiper_partner.autoplay.stop();
          });
          $('.swiper-partner').on('mouseout', function () {
              swiper_partner.autoplay.start();
          });
      </script> 
        <div class="c30"></div>
        <div class="c20 hide-on-mobile"></div>
      </div>
 
      <div class="footer-main">
        <div class="c30"></div>
        <div class="grid">

          <div class="flex-container">
            <div class="cell-1-4 tab-cell-1-1">
              <div class="c30"></div>
                <a href="#">
                    <img src="/uploaded/logo/logo-white.png" style="max-width: 150px;" alt="">
                </a>
                <div class="c20"></div>
              
                 <div class="info">
                   Trụ sở: 85 Phố Vương Thừa Vũ, Thanh Xuân, Hà nội
                 </div>
                 <div class="info">
                   Điện thoại: 0869 066 288 
                  
               </div>
               <div class="info">
                  Email: nfo@company.com
             </div>
            </div>
            <div class="cell-1-4 tab-cell-1-1">
              <div class="c30"></div>
              <div class="footer-block">  
                <div class="footer-title footer-title-mobile" rel="ct">
                  Giới thiệu
               </div>
              <ul class="menuboxfooter" id="boxcol5">
              <li><a href="/gioi-thieu-chung/"> Giới thiệu chung</a></li>
              <li><a href="/tam-nhin-chien-luoc/"> Tầm nhìn chiến lược </a></li>
              <li><a href="/gia-tri-cot-loi/"> Giá trị cốt lõi</a></li>
              </ul> 
              </div>
          </div>
         <div class="cell-1-4 tab-cell-1-1">
          <div class="c30"></div>
              <div class="footer-block">  
                <div class="footer-title footer-title-mobile" rel="ct">
                 Dịch vụ nổi bật
               </div>
              <ul class="menuboxfooter" id="boxcol5">
              <li><a href="/gioi-thieu-chung/"> Liệu pháp tế bào gốc
               </a></li>
              <li><a href="/tam-nhin-chien-luoc/">  Liệu pháp miễn dịch </a></li>
             
              </ul>
            

              </div>

          </div>
          <div class="cell-1-4 tab-cell-1-1">
            <div class="c30"></div>
             <div class="footer-block">
                <div class="footer-title footer-title-mobile" rel="ct">
                  Theo dõi chúng tôi
                  </div>
                <ul class="footer-social">
                
                  <li class="facebook  hvr-float">
                    <a href="https://www.facebook.com/hocbongvnu" class="footer-social__item">
                      <i class="fab fa-facebook-f"></i>
                    </a>
                  </li>
                  <li class="youtube  hvr-float">
                    <a href="#" class="footer-social__item">
                      <i class="fab fa-youtube"></i>
                    </a>
                  </li>
                
                  <li class="instagram  hvr-float">
                    <a href="" class="footer-social__item">
                      <i class="fab fa-twitter"></i>
                    </a>
                  </li>
                
                </ul>
             </div>
          </div>
          
              
            
        </div>
        
        <div class="c20"></div>
        <div class="footer-copyright">
          <div class="c20"></div>
          <div class="grid">
            Copyright © 2023 companys
          </div>
          <div class="c10"></div>
        </div>
           
        </div>
       
      </div>

     
    </footer>
    <!-- end footer -->
</div>


  <script src="/js/jquery.fancybox.js"></script>
 
  
  <script src="/js/script.js"></script>

  <script src="/js/jquery-ui.min.js"></script>
  <script src="/js/jquery.form.min.js"></script>
  <script src="/js/jquery.mmenu.min.all.js"></script>

  
</body>

</html>
